<div class="p-4 rounded border border-gray-200 mb-8">
  <h3 class="text-2xl mb-4 font-semibold">{{ edit ? 'Edit Candidate' : 'Create Candidate' }}</h3>
  <form (submit)="edit ? updateCandidate() : createCandidate()">
    <div class="mb-4">
      <label for="name" class="block text-sm font-medium text-gray-700">Name:</label>
      <input type="text" id="name" name="name" [(ngModel)]="candidateForm.name" required
             class="block w-full px-4 py-2 mt-1 bg-gray-100 border rounded">
    </div>
    <div class="mb-4">
      <label for="email" class="block text-sm font-medium text-gray-700">Email:</label>
      <input type="email" id="email" name="email" [(ngModel)]="candidateForm.email" required
             class="block w-full px-4 py-2 mt-1 bg-gray-100 border rounded">
    </div>
    <div class="mb-4" *ngIf="jobs">
      <label for="jobName" class="block text-sm font-medium text-gray-700">Job:</label>
      <select id="jobName" class="select select-ghost select-md w-full max-w-xs rounded-none" name="jobName"
              [(ngModel)]="candidateForm.job">
        <option [ngValue]="null" selected disabled>Select Job</option>
        <option *ngFor="let job of jobs" [ngValue]="job.id">{{job.name}}</option>
      </select>
    </div>
    <div class="flex justify-end">
      <button type="submit"
              class="btn btn-accent btn-sm">{{ edit ? 'Update' : 'Create' }}</button>
      <button (click)="clearForm()" class="btn btn-outline btn-sm ml-2">Cancel</button>
    </div>
  </form>
</div>
